@import "tailwindcss";

@theme {
  --color-indiapost-red: #E31E24;
  --color-indiapost-yellow: #FFD200;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
